.container {
  height: 100%;
  overflow: auto;
  padding: 20px 0;
}

.cards {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: wrap;
}

.title {
  text-align: center;
}
