.timer {
  position: absolute;
  top: calc(50% - 150px);
  left: calc(50% - 150px);
  height: 300px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #bad072;
  border-radius: 50%;

  background-image: linear-gradient(
    rgba(186, 208, 114, 0.5),
    rgba(0, 0, 0, 0.1) 50%
  );
  background-size: 100% 200%;
  animation: background_color 1500s linear forwards;
  animation-play-state: paused;
}

.timer.running,
.timer.running .timerValue {
  animation-play-state: running;
}

.timerValue {
  color: #fff;
  font-size: 72px;
  margin-top: -10px;
  animation: timer_beat 1s ease-in-out infinite;
  animation-delay: 0.5s;
  animation-play-state: paused;
}

@keyframes background_color {
  100% {
    background-position: 0 -100%;
  }
}

@keyframes timer_beat {
  40%,
  80% {
    transform: none;
  }
  50% {
    transform: scale(1.125);
  }
}
