.volumeControl {
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.2);
}

.volumeControl {
  flex-direction: row;
  user-select: none;
}

.value {
  min-width: 50px;
  font-size: 1.1em;
  line-height: 1.1em;
}

.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttonWrapper {
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.2);
}

.musicControl {
  flex-direction: row;
  position: fixed;
  bottom: 20px;
  right: calc(50% - 50px);
}
