.scene {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-x: hidden;
}

div.scene figure.image {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
}

.image img {
  height: 100%;
  width: 100%;
  animation: scaling 20s linear infinite alternate;
}

@keyframes scaling {
  0% {
    transform: translate(0%, 0%) scale(1);
  }
  50% {
    transform: translate(-10%, -10%) scale(1.25);
  }
  100% {
    transform: translate(10%, 10%) scale(1.5);
  }
}

@media screen and (max-device-width: 600px) {
  .scene {
    background-color: #fffaeb;
  }

  div.scene figure.image {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .menuWrapper {
    margin: 0 20px;
  }
}
