.menuWrapper {
  position: absolute;
  left: 0;
  right: 0;
  top: 50px;
  margin: 0 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #fff;
}

.buttonWrapper {
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.2);
}

@media screen and (max-device-width: 600px) {
  .menuWrapper {
    margin: 0 20px;
  }
}
