.root {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #fff;
}

.root .icon {
  width: 20px;
  height: 20px;
  text-align: center;
  cursor: pointer;
}

.playWrapper {
  position: absolute;
  left: 50%;
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.2);
}

.playWrapper .icon {
  font-size: 50px;
  width: 50px;
  height: 50px;
}

.volumeWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100px;
  width: 140px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.2);
}

.volumeWrapper .value {
  margin-right: 10px;
  font-size: 20px;
  line-height: 20px;
}

.volumeWrapper .controls {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.volumeWrapper .controls .icon {
  font-size: 30px;
  width: 30px;
  height: 30px;
}
